body {
  background-color: #bdbfc6;
}

h1 {
  text-align: center;
}

.App {
  width: 60%;
  margin: 0 auto;
  font-family: Verdana, 'Lato', sans-serif;
}


ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 15px 0;
  padding: 10px;
  display: flex;
  border-radius: 20px;
  border: 2px solid #4C2E05;
}

li span {
  padding: 8px;
}

li.low {
  background-color: #BCED09;
}
li.medium {
  background-color: #F9CB40;
}
li.high {
  background-color: #FF715B;
}
li.done {
  background-color: #f6f6ff9f;
}

input[type="text"] {
  padding: 10px;
  width: 50%;
  margin:5px;
}

button, input[type="submit"]{
  padding: 10px;
  background: #2f52e0ca;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 1px solid #2F52E0;
  margin: 8px;
  border-radius: 10px;
}

ul > li > button:hover, #save-task:hover{
  color: #2f52e0;
  background-color: rgba(255, 255, 255, 0.812);
  transition: 0.2s;
}

form > button.remove:hover {
  background: #ff715b;
  border: 1px solid #4C2E05;
  color: black;
  transition: 0.2s;
}

form > button.reorder:hover {
  background: #BCED09ca;
  border: 1px solid #4C2E05;
  color: black;
  transition: 0.2s;
}

#new-task {
  border-radius: 10px;
  border: 1.5px solid #4C2E05;
}


#prio-div {
  grid-area: prio-div;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

form > input[type="text"]{
  grid-area: task-input;
}

form > input[type="submit"]{
  grid-area: submit;
  max-width: 90px;
}


#order{
  grid-area: order;
}

#rm-done{
  grid-area: rm-done;
}

#rm-all{
  grid-area: rm-all;
}

/* for computers */
@media (min-width: 760px) {
  li {
    justify-content: space-between;
  }

  form > input[type="text"]{
    width: 64%;
    margin-left: 8%;
  }

  form.edit-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

/* for phones */
@media (max-width: 759px) {
  body{
    text-size-adjust: auto;
  }

  li {
    flex-direction: column;
    align-items: center;
    align-self: center;
  }

  ul > li > button {
    min-width: 75%;
  }


  form.submit-form{
    display: grid;
    grid-template-areas: 
    'prio-div prio-div'
    'task-input submit';
    justify-content: space-evenly;
  }

  form > input[type="text"]{
    width: 80%;
  }


  form.edit-form{
    display: grid;
    grid-template-areas: 
    'order order'
    'rm-done rm-all';
  }
}