body {
  background-color: #bdbfc6;
}

.App {
  width: 60%;
  margin: 0 auto;
  font-family: Verdana, 'Lato', sans-serif;
}


ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 15px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

li span {
  padding: 8px;
}

li.low {
  border: 2px solid #4C2E05;
  background-color: #BCED09;
}

li.medium {
  border: 2px solid #4C2E05;
  background-color: #F9CB40;
}

li.high {
  border: 2px solid #4C2E05;
  background-color: #FF715B;
}

li.done {
  border: 2px solid #4C2E05;
  background-color: #f6f6ff9f;
}

input[type="text"] {
  padding: 10px;
  width: 50%;
  margin:5px;
}

button, input[type="submit"]{
  padding: 10px;
  background: #2f52e0ca;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 1px solid #2F52E0;
  margin: 8px;
  border-radius: 10px;
}

ul > li > button:hover, #save-task:hover{
  color: #2f52e0;
  background-color: rgba(255, 255, 255, 0.812);
  transition: 0.2s;
}

form > button:hover {
  background: #ff715b;
  border: 1px solid #4C2E05;
  color: black;
  transition: 0.2s;
}

#new-task {
  border-radius: 10px;
  border: 1.5px solid #4C2E05;
}